{% extends 'base/base.html' %}

{% block title %}
<title>Eliminar {{question.id}}</title>
{% endblock %}

{% block Form %}
<li class="sub-menu">
  <a class="active" href="javascript:;">
    <i class="fas fa-question"></i>
    <span>Formularios</span>
    </a>
    <ul class="sub">
      <li><a href="{% url 'questionList' %}">Preguntas</a></li>
      <li><a href="{% url 'formList' %}">Lista</a></li>
      <li><a href="{% url 'formCreate' %}">Crear</a></li>
    </ul>
</li>
{% endblock %}

{% block content %}
<div style="margin: auto;">
    <br><br><br>
<center>
    <h3 class="text-dark mb-0">¿Esta seguro que desea eliminar la pregunta "{{ object.question }}" de {{ object.form }}?</h3>
</center>
<center>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Si, estoy seguro</button>
        <a class="btn btn-default" href="{% url 'questionView' object.slug %}">Cancelar</a>
    </form>
</center>  
</div>
{% endblock %}