{% load static %}
{% url 'logout' as logout %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="refresh" content="60" />
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="Dashboard">
  <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
  <title>GFI - CSAT</title>

  <!-- icon -->
  <link rel="shortcut icon" href="{% static 'img/logo_GFI.png' %}"> 
  <!-- Bootstrap core CSS -->
  <link href="{% static 'lib/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <!--external css-->
  <link href="{% static 'lib/font-awesome/css/font-awesome.css' %}" rel="stylesheet" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/zabuto_calendar.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'lib/gritter/css/jquery.gritter.css' %}" />
  <!-- Custom styles for this template -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet">
  <link href="{% static 'css/style-responsive.css' %}" rel="stylesheet">
  <script src="{% static 'lib/chart-master/Chart.js' %}"></script>
</head>

<body>
  <section id="container">
    <!-- **********************************************************************************************************************************************************
        TOP BAR CONTENT & NOTIFICATIONS
        *********************************************************************************************************************************************************** -->
    <!--header start-->
    <header class="header black-bg">
      <div class="sidebar-toggle-box">
        <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
      </div>
	  <!--logo start-->
    <div class="col-md-1">
      <a href="{% url 'index' %}" class=""><img src="{% static 'img/logo_GFI.png' %}" height="40" alt="Logo" style="margin: 10px;"></a>
    </div>
      <!--logo end-->
      <div class="nav notify-row" id="top_menu">
      </div>
      <div class="top-menu">
        <ul class="nav pull-right top-menu">
          <li><a class="logout" href="{{ logout }}">Cerrar Sesión</a></li>
        </ul>
      </div>
    </header>
    <!--header end-->
    <!-- **********************************************************************************************************************************************************
        MAIN SIDEBAR MENU
        *********************************************************************************************************************************************************** -->
    <!--sidebar start-->
    <aside>
      <div id="sidebar" class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" id="nav-accordion">
          <li class="sub-menu">
            <a href="javascript:;">
              <i class="fas fa-user-friends"></i>
              <span>Contactos</span>
              </a>
            <ul class="sub">
              <li><a href="{% url 'contactList' %}">Lista</a></li>
              <li><a href="{% url 'contactCreate' %}">Crear</a></li>
            </ul>
          </li>

          <li class="sub-menu">
            <a href="javascript:;">
              <i class="fas fa-question"></i>
              <span>Formularios</span>
              </a>
              <ul class="sub">
                <li><a href="{% url 'questionList' %}">Preguntas</a></li>
                <li><a href="{% url 'formList' %}">Lista</a></li>
                <li><a href="{% url 'formCreate' %}">Crear</a></li>
              </ul>
          </li>

          <li class="sub-menu">
            <a href="javascript:;">
              <i class="fas fa-store"></i>
              <span>Puntos de Venta</span>
              </a>
            <ul class="sub">
              <li><a href="{% url 'zoneList' %}">Zonas</a></li>
              <li><a href="{% url 'salesPointList' %}">Lista</a></li>
              <li><a href="{% url 'salesPointCreate' %}">Crear</a></li>
            </ul>
          </li>
          <li class="sub-menu">
            <a href="javascript:;">
              <i class="fas fa-copyright"></i>
              <span>Cadenas</span>
              </a>
            <ul class="sub">
              <li><a href="{% url 'divisionList' %}">Lista</a></li>
              <li><a href="{% url 'divisionCreate' %}">Crear</a></li>
            </ul>
          </li>
          <li class="sub-menu">
            <a href="javascript:;">
              <i class="fas fa-user"></i>
              <span>Usuarios</span>
              </a>
            <ul class="sub">
              <li><a href="{% url 'user_list' %}">Lista</a></li>
              <li><a href="{% url 'register' %}">Crear</a></li>
            </ul>
          </li>
        </ul>
        <!-- sidebar menu end-->
      </div>
    </aside>
    <!--sidebar end-->
    <!-- **********************************************************************************************************************************************************
        MAIN CONTENT
        *********************************************************************************************************************************************************** -->
    <!--main content start-->
    <section id="main-content">
      <section class="wrapper">
        <br>
        <div align=right>
          <form action="{% url 'download_general_report' %}" method="post">
            {% csrf_token %}
            <input style="border: none; border-bottom: 1px gray solid;" type="date" id="from" name="from"> &nbsp;<span> a </span>&nbsp; <input style="border: none; border-bottom: 1px gray solid;" type="date" id="to" name="to"> &nbsp;&nbsp;
            <button class="btn btn-primary" type="submit"> Descargar Reporte</button>
          </form>
        </div>
        <br>
        <!--Row 1-->
        <div class="row">
          <!-- SORPRESA -->
          <div class="col-md-3 mb">
            <div class="grey-panel pn donut-chart">
              <div class="grey-header">
                <h5 style="color: #0a1d36;"><i class="fa fa-angle-right"></i> Sorpresa</h5>
              </div>
              <canvas id="serverstatus01" height="120" width="120"></canvas>
              <script>
                var doughnutData = [{
                    value: {{s}},
                    color: "#0a1d36"
                  },
                  {
                    value: 100- {{s}},
                    color: "#fdfdfd"
                  }
                ];
                var myDoughnut = new Chart(document.getElementById("serverstatus01").getContext("2d")).Doughnut(doughnutData);
              </script>
              <div class="row">
                <div class="col-sm-4 col-xs-3 goleft">
                  <p>Encuestas<br/>Contestadas:</p>
                </div>
                <div class="col-sm-2 col-xs-3 goleft">
                  <h3>{{sQty}}</h3>
                </div>
                <div class="col-sm-6 col-xs-6">
                  <h3>{{s}}% </h3>
                </div>
              </div>
            </div>
          </div>
          <!-- INVOLUCRATE -->
          <div class="col-md-3 mb">
            <div class="grey-panel pn donut-chart">
              <div class="grey-header">
                <h5 style="color: #0a1d36;"><i class="fa fa-angle-right"></i> Involucrate</h5>
              </div>
              <canvas id="serverstatus02" height="120" width="120"></canvas>
              <script>
                var doughnutDataI = [{
                    value: {{i}},
                    color: "#0a1d36"
                  },
                  {
                    value: 100 - {{i}},
                    color: "#fdfdfd"
                  }
                ];
                var myDoughnut = new Chart(document.getElementById("serverstatus02").getContext("2d")).Doughnut(doughnutDataI);
              </script>
              <div class="row">
                <div class="col-sm-4 col-xs-3 goleft">
                  <p>Encuestas<br/>Contestadas:</p>
                </div>
                <div class="col-sm-2 col-xs-3 goleft">
                  <h3>{{iQty}}</h3>
                </div>
                <div class="col-sm-6 col-xs-6">
                  <h3>{{i}}% </h3>
                </div>
              </div>
            </div>
          </div>
          <!-- CONFIABILIDAD Y RESPETO -->
          <div class="col-md-3 mb">
            <div class="grey-panel pn donut-chart">
              <div class="grey-header">
                <h5 style="color: #0a1d36;"><i class="fa fa-angle-right"></i> Confiabilidad y Respeto</h5>
              </div>
              <canvas id="serverstatus03" height="120" width="120"></canvas>
              <script>
                var doughnutDataCR = [{
                    value: {{cr}},
                    color: "#0a1d36"
                  },
                  {
                    value: 100 - {{cr}},
                    color: "#fdfdfd"
                  }
                ];
                var myDoughnut = new Chart(document.getElementById("serverstatus03").getContext("2d")).Doughnut(doughnutDataCR);
              </script>
              <div class="row">
                <div class="col-sm-4 col-xs-3 goleft">
                  <p>Encuestas<br/>Contestadas:</p>
                </div>
                <div class="col-sm-2 col-xs-3 goleft">
                  <h3>{{crQty}}</h3>
                </div>
                <div class="col-sm-6 col-xs-6">
                  <h3>{{cr}}% </h3>
                </div>
              </div>
            </div>
          </div>
          <!-- EMPATIA Y ORDEN -->
          <div class="col-md-3 mb">
            <div class="grey-panel pn donut-chart">
              <div class="grey-header">
                <h5 style="color: #0a1d36;"><i class="fa fa-angle-right"></i> Empatia y Ordenados</h5>
              </div>
              <canvas id="serverstatus04" height="120" width="120"></canvas>
              <script>
                var doughnutDataEO = [{
                    value: {{eo}},
                    color: "#0a1d36"
                  },
                  {
                    value: 100 - {{eo}},
                    color: "#fdfdfd"
                  }
                ];
                var myDoughnut = new Chart(document.getElementById("serverstatus04").getContext("2d")).Doughnut(doughnutDataEO);
              </script>
              <div class="row">
                <div class="col-sm-4 col-xs-3 goleft">
                  <p>Encuestas<br/>Contestadas:</p>
                </div>
                <div class="col-sm-2 col-xs-3 goleft">
                  <h3>{{eoQty}}</h3>
                </div>
                <div class="col-sm-6 col-xs-6">
                  <h3>{{eo}}% </h3>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 mb">
            <div class="message-p pn">
              <div class="message-header">
                <h5 style="color: #0a1d36;"><i class="fa fa-angle-right"></i> Reporte General</h5>
              </div>
              <div class="row">
                <div class="col-md-12"  style="max-height: 180px; overflow-y: auto;">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>Zona</th>
                        <th>Sucursal</th>
                        <th>Sorpresa</th>
                        <th>Confiabilidad y Respeto</th>
                        <th>Empatía y Ordenados</th>
                        <th>Involúcrate</th>
                        <th>Promedio</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for k,s_table,i_table,cr_table,eo_table, avg_total,zona,cadena,cantidad in table_data %}
                      {% if avg_total < 80 %}
                      <tr style="background-color: lightpink;">
                      {% elif avg_total >= 80 and avg_total < 90 %}
                      <tr style="background-color: rgb(247, 242, 172);">
                      {% elif avg_total > 90 %}
                      <tr style="background-color: rgb(91, 238, 123);">
                      {% endif %}                      
                        <td>{{zona}}</td>
                        <td>{{k}}</td>
                        <td>{{s_table}}</td>
                        <td>{{i_table}}</td>
                        <td>{{cr_table}}</td>
                        <td>{{eo_table}}</td>
                        <td>{{avg_total}}</td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <!-- /Message Panel-->
          </div>
        </div>
      </section>
    </section>
  </section>
  <!-- js placed at the end of the document so the pages load faster -->
  <script src="{% static 'lib/jquery/jquery.min.js' %}"></script>
  <script src="https://kit.fontawesome.com/6fa0030673.js"></script>
  <script src="{% static 'lib/bootstrap/js/bootstrap.min.js' %}"></script>
  <script class="include" type="text/javascript" src="{% static 'lib/jquery.dcjqaccordion.2.7.js' %}"></script>
  <script src="{% static 'lib/jquery.scrollTo.min.js' %}"></script>
  <script src="{% static 'lib/jquery.nicescroll.js' %}" type="text/javascript"></script>
  <script src="{% static 'lib/jquery.sparkline.js' %}"></script>
  <!--common script for all pages-->
  <script src="{% static 'lib/common-scripts.js' %}"></script>
  <script type="text/javascript" src="{% static 'lib/gritter/js/jquery.gritter.js' %}"></script>
  <script type="text/javascript" src="{% static 'lib/gritter-conf.js' %}"></script>
  <!--script for this page-->
  <script src="{% static 'lib/sparkline-chart.js' %}"></script>
  <script src="{% static 'lib/zabuto_calendar.js' %}"></script>
  <script type="application/javascript">
    $(document).ready(function() {
      $("#date-popover").popover({
        html: true,
        trigger: "manual"
      });
      $("#date-popover").hide();
      $("#date-popover").click(function(e) {
        $(this).hide();
      });

      $("#my-calendar").zabuto_calendar({
        action: function() {
          return myDateFunction(this.id, false);
        },
        action_nav: function() {
          return myNavFunction(this.id);
        },
        ajax: {
          url: "show_data.php?action=1",
          modal: true
        },
        legend: [{
            type: "text",
            label: "Special event",
            badge: "00"
          },
          {
            type: "block",
            label: "Regular event",
          }
        ]
      });
    });

    function myNavFunction(id) {
      $("#date-popover").hide();
      var nav = $("#" + id).data("navigation");
      var to = $("#" + id).data("to");
      console.log('nav ' + nav + ' to: ' + to.month + '/' + to.year);
    }

  </script>
</body>

</html>

