
{% if object_list %}
<div class="adv-table">
    <table cellpadding="0" cellspacing="0" border="0" class="display table table-bordered" id="hidden-table-info">
      <thead>
        <tr>
            <th>Pregunta</th>
            <th>Formulario</th>
            <th>Tipo</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
            {% for question in object_list  %}
            <tr style="background-color: #f1f1f1;">
                <td><a href="{% url 'questionView' question.slug %}" style="color:rgb(80, 80, 80)"> {{ question.question }}</a></td>
                <td style="background-color: #f1f1f1;">{{ question.form }}</td>
                <td style="background-color: #f1f1f1;">{{ question.qty_responses }}</td>
                <td >
                    <a href="{% url 'questionEdit' question.slug %}" class="btn btn-primary btn-xs" style="color: azure;"><i class="fa fa-pencil"></i></a>
                    <a href="{% url 'questionDelete' question.slug %}" class="btn btn-danger btn-xs" style="color: azure;"><i class="fa fa-trash-o"></i></a>
                </td>

                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


{% else %}
<h1>&nbsp;&nbsp;&nbsp; Preguntas no encontrados...</h1> 
{% endif %}
